.modal-background {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
}

.modal-wrapper {
    width: 200px;
    height: 200px;
    background-color: white;
}

.cross {
    width: 20%;
    cursor: pointer;
}